# requirements for IDEs only

falcon

python-dateutil
requests
shortuuid

gitpython
python-crontab

# Database
peewee

# Tasks
celery[redis]
celery-redbeat

# Scrapy
scrapy
python-scrapyd-api

google-cloud-datastore
